.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

body {
  margin: 0;
}

button,
a,
input {
  font: inherit;
}

.deal-image {
  background-size: cover;
  background-position: center;
}

.card-hover:hover {
  box-shadow: 4px 4px 0 rgba(93, 92, 116, 0.15);
  transform: translateY(-4px);
}